%rebase('osnova.html', naslov='Dodaj novega zaposlenega')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{url('dodaj_zaposlenega_post')}}" method="POST">
    <br>
    <p>Ime: <input  class="input is-success" style="height:30px; width:200px" type="text" name="ime" value="{{ime}}"></p>
    <br>
    <p>Priimek: <input  class="input is-success" style="height:30px; width:200px" type="text" name="priimek" value="{{priimek}}"></p>
    <br>
    <p>Plača: <input  class="input is-success" style="height:30px; width:200px" type="number" step="0.01" min="600" name="placa" value="{{placa}}"></p>
    <br>
    <p>Telefon: <input  class="input is-success" style="height:30px; width:200px" type="text" name="telefon" value="{{telefon}}"></p>
    <br>
    <p>Rojstvo (YYYY-MM-DD): <input  class="input is-success" style="height:30px; width:200px" type="text" name="rojstvo" value="{{rojstvo}}"></p>
    <br>
    <p>Uporabniško ime: <input  class="input is-success" style="height:30px; width:200px" type="text" name="uporabnisko_ime" value="{{uporabnisko_ime}}"></p>
    <br>
    <p>Geslo: <input  class="input is-success" style="height:30px; width:200px" type="text" name="geslo1" value="{{geslo1}}"></p>
    <br>
    <p>Ponovite geslo: <input  class="input is-success" style="height:30px; width:200px" type="text" name="geslo2" value="{{geslo2}}"></p>
    <br>
      <p><input type="submit"  class="btn btn-primary" style="width:300px" value="Dodaj novega zaposlenega"></p>
  </form>