%rebase('osnova.html', naslov='Ponudba')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end


  <header>  
    
  </header>
  <table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <th>
      <table cellpadding="0" cellspacing="0" border="1" class="table" width="90%" align="center">
      <tr>
        <th>Hrana</th>
        <th>Cena</th>
      </tr>
      %for (vrsta, cena) in ponudba:
      <!-- cena = "{0} €".format(cena) -->
        <tr>
          <td>{{vrsta}}</td>
          <td>{{"{0} €".format(cena)}}</td>
        </tr>
      %end
      </table>
    </th>
  </tr>
  </table>

 <br> 
 <form action="{{url('ponudba')}}" method="POST">
    <p> <label for="vrsta_zaloge">Naroči:</label>
        <select name="vrsta_zaloge" style="width:auto; display:inline-block;"  >
            %for vrsta in ponudba:
                <option value="{{vrsta[0]}}">{{vrsta[0]}}</option> 
            %end
        </select>
    </p>
    <p>Količina: <input class="input is-success" style="height:20px; width:200px"  type="number" min="1" name="kolicina" value="{{kolicina}}"></p>
      <p><input class="input is-danger is-rounded is-light" style="width:200px" type="submit" value="Naroči"></p>
  </form>
