%rebase('osnova.html', naslov='Ponudba')
  <header>  
    <img src="https://github.com/Duzo12/Restavracija-OPB/blob/main/views/Slike/dostava.jpg?raw=true.jpg" alt="Dostava hrane" width=400> 
  </header>

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Vrsta</th>
     <th>Cena</th>
  </tr>
  %for (vrsta, cena) in ponudba:
    <tr>
       <td>{{vrsta}}</td>
       <td>{{cena}}</td>
    </tr>
  %end
  </table>

  <p>
    <a href="{{url('prijava', x=1000)}}">Prijava</a>
    </p>

  <p>
    <a href="{{url('registracija', x=1000)}}">Registracija</a>
    </p>

  <p>
    <a href="{{url('dodaj_ponudbo', x=1000)}}">Dodaj v ponudbo</a>
    </p>
  
  <p>
    <a href="{{url('povecaj_zalogo', x=1000)}}">Povecaj zalogo</a>
    </p>

  <p>
    <a href="{{url('oddaj_narocilo', x=1000)}}">Oddaj naročilo</a>
    </p>

  <p>
    <a href="{{url('spremeni_placo', x=1000)}}">Spremeni plačo</a>
    </p>