%rebase('osnova.html', naslov='Ponudba')
  <header>  
    <img src="C:/Users/Uporabnik/Desktop/OPB/PROGRAM/Restavracija-OPB/views/Slike/dostava.jpg" alt="Dostava hrane" width=400> 
  </header>

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
    <th>Id</th>
     <th>Vrsta</th>
     <th>Cena</th>
     <th>Zaloga</th>
  </tr>
  %for (id, vrsta, cena, zaloga) in ponudba:
    <tr>
        <td>{{id}}</td>
       <td>{{vrsta}}</td>
       <td>{{cena}}</td>
       <td>{{zaloga}}</td>
    </tr>
  %end
  </table>

  <p>
    <a href="{{url('registracija', x=1000)}}">Registracija</a>
    </p>