%rebase('osnova.html', naslov='Povecaj')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{url('povecaj_zalogo')}}" method="POST">
    <p>Id: <input class="input is-success" style="height:30px; width:200px" type="text" name="id" value="{{id}}"></p>
    <br>
    <p>Povečaj zalogo: <input class="input is-success" style="height:30px; width:200px" type="number" name="zaloga_dodana" value="{{zaloga_dodana}}"></p>
    <br>
        <p><input type="submit" class="input is-danger is-rounded is-light" style="width:200px" value="Povecaj"></p>
  </form>