%rebase('osnova.html', naslov='Registracija uporabnik')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{url('registracija')}}" method="POST">
    <p>Ime: <input  class="input is-success" style="height:30px; width:200px" type="text" name="ime" value="{{ime}}"></p>
    <br>
    <p>Priimek: <input  class="input is-success" style="height:30px; width:200px" type="text" name="priimek" value="{{priimek}}"></p>
    <br>
    <p>Kraj: <input  class="input is-success" style="height:30px; width:200px" type="text" name="kraj" value="{{kraj}}"></p>
    <br>
    <p>Naslov: <input  class="input is-success" style="height:30px; width:200px" type="text" name="naslov" value="{{naslov}}"></p>
    <br>
    <p>Telefon: <input  class="input is-success" style="height:30px; width:200px" type="text" name="telefon" value="{{telefon}}"></p>
    <br>
    <p>Uporabniško ime: <input  class="input is-success" style="height:30px; width:200px" type="text" name="uporabnisko_ime" value="{{uporabnisko_ime}}"></p>
    <br>
    <p>Geslo: <input  class="input is-success" style="height:30px; width:200px" type="text" name="geslo1" value="{{geslo1}}"></p>
    <br>
    <p>Ponovite geslo: <input  class="input is-success" style="height:30px; width:200px" type="text" name="geslo2" value="{{geslo2}}"></p>
    <br>
      <p><input type="submit"  class="input is-danger is-rounded is-light" style="width:200px" value="Registriraj se"></p>
  </form>