%rebase('osnova.html', naslov='Povecaj')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end

  <form action="{{url('spremeni_placo')}}" method="POST">
    <br>
    <p>Id zaposlenega: <input  class="input is-success" style="height:30px; width:200px"  type="text" name="id" value="{{id}}"></p>
    <br>
    <p>Spremeni plačo za: <input  class="input is-success" style="height:30px; width:200px"  type="number" name="spremeni_placo" value="{{spremeni_placo}}"></p>
    <br>
        <p><input class="btn btn-primary" style="width:200px" type="submit" value="Spremeni"></p>
  </form>