%rebase('osnova.html', naslov='Restavracija')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end
<br>
<br>
<p>
  <a class="btn btn-outline-primary"  href="{{url('dodaj_ponudbo')}}" role="button">Dodaj v ponudbo </a>
  <a class="btn btn-outline-primary"  href="{{url('povecaj_zalogo')}}" role="button">Povečaj zalogo </a>
  <a class="btn btn-outline-primary" href="{{url('spremeni_placo')}}" role="button">Spremeni plačo </a>
  <a class="btn btn-outline-primary" href="{{url('dodaj_zaposlenega_get')}}" role="button">Dodaj Novega Zaposlenega </a>
  <br>
</p>
