%rebase('osnova.html', naslov='Restavracija')

%if napaka:
  <p class="opozorilo">{{napaka}}</p>
%end
<br>
<p>
  <a href="{{url('dodaj_ponudbo')}}" class="button is-danger is-rounded is-light">Dodaj v ponudbo</a>
  <a href="{{url('povecaj_zalogo')}}" class="button is-danger is-rounded is-light">Povečaj zalogo</a>
  <a href="{{url('spremeni_placo')}}" class="button is-danger is-rounded is-light">Spremeni plačo</a>
  <a href="{{url('dodaj_zaposlenega_get')}}" class="button is-danger is-rounded is-light">Dodaj Novega Zaposlenega</a>
  <br>
</p>
